HTML {
  height: 100%;
  width: 100%;
 }
body {
  background-color: LightGray;
}
body {
  margin: 0;
}

#content {
margin-left:25%;
padding:1px 16px;
height:100px;
}

.card{
  float: right;
  border: 2px solid red;
  border-radius: 12px;
  padding: 5px;
}

#right {
align-content: right;
float: right;
}

#header {
  padding: 15px;
  background-color: #A4C2A5;
  box-shadow: 10px 10px;
}

.center {
text-align: center;
}
.newspaper {
  column-count: 3;
}
* {
  box-sizing: border-box;
}
img:hover {
  opacity: 0.5;
}