HTML {
  height: 100%;
  width: 100%;
 }
body {
  background-color: LightGray;
}
* {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
#content {
margin-left:25%;
padding:1px 16px;
height:100px;
}

.card{
  float: right;
  border: 2px solid red;
  border-radius: 12px;
  padding: 5px;
}

#right {
align-content: right;
float: right;
}

#header {
  padding: 15px;
  background-color: #A4C2A5;
  box-shadow: 10px 10px;
}

.center {
text-align: center;
}
.newspaper {
  column-count: 3;
}
* {
  box-sizing: border-box;
}
img:hover {
  opacity: 0.5;
}
.topleft {
  position: absolute;
  top: 365px;
  left: 190px;
  font-size: 18px;
}
.bottomleft {
  position: absolute;
  top: 780px;
  left: 190px;
  font-size: 18px;
}
.topright {
  position: absolute;
  top: 365px;
  right: 190px;
  font-size: 18px;
}
.bottomright {
  position: absolute;
  top: 760px;
  right: 190px;
  font-size: 18px;
}
.over{
color: white;
background-color: #A4C2A5;
}
@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}
