HTML {
  height: 100%;
  width: 100%;
 }
body {
  background-color: LightGray;
}
body {
  margin: 0;
}

#content {
margin-left:25%;
padding:1px 16px;
height:1000px;
}

.card{
  float: right;
  border: 2px solid green;
  border-radius: 12px;
  padding: 5px;
}

